<template>
  <div class="card">
    <a :href="site.url"
       @click="siteClicked(site.id, site.url)">
      <img :src="'img/'+site.screenshot"
           :alt="site.title"
           width="280"
           class="card-img-top">
    </a>
    <div class="card-body">
      <a :href="site.url"
         class="card-link"
         @click="siteClicked(site.id, site.url)">{{ site.title }}</a>
      <p class="card-subtitle">{{ site.category.name }}</p>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    'site': Object,
    'index': Number
  },
  data: function () {
    return {

    };
  },
  methods: {
    siteClicked: function(siteId, siteUrl) {

      axios.put(`api/sites/${siteId}/click`).then(res => {

      }).catch(e => {
        console.log(e);
      });
    }
  }
};
</script>

<style>
</style>
