<template>
  <div class="row justify-content-between">
    <div v-for="chunk in siteChunks"
         :key="chunk.id"
         class="card-group mx-auto">
      <site-cards v-for="(site, index) in chunk"
                  :key="site.id"
                  :site="site"
                  :index="index"/>
    </div>
  </div>
</template>

<script>
export default {
  props: ['sites'],
  computed: {
    siteChunks: function() {
      return _.chunk(this.sites, 3);
    }
  }
};
</script>

<style>

</style>
