<template>
  <div class="dropdown">
    <button id="sortDropdownBtn"
            class="btn btn-secondary dropdown-toggle"
            type="button"
            data-toggle="dropdown">Sort By</button>
    <div class="dropdown-menu dropdown-menu-right">
      <a :class="{active: sortedByClicks}"
         href="/sort/clicks"
         class="dropdown-item"
         @click.prevent="$emit('sort-by-clicks')">Clicks</a>
      <a :class="{active: sortedByName}"
         href="/sort/name"
         class="dropdown-item"
         @click.prevent="$emit('sort-by-name')">Name</a>
    </div>
  </div>
</template>

<script>
export default {
  props: ['sortedByName', 'sortedByClicks']
};
</script>

<style>

</style>
