@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';

.album {
  min-height: 50rem !important;
  /* Can be removed; just added for demo purposes */
  padding-top: 1rem !important;
  padding-bottom: 3rem !important;
  background-color: #f7f7f7 !important;
}

.card {
  margin-bottom: 1rem !important;
}

.card img {
  border-bottom: 1px solid rgba(0, 0, 0, .125) !important;
}

.card-text {
  font-weight: 500 !important;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}
